body{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
    height: 80px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo >img{
    width: 60px;
    height: 30px;
}
.logo>h1{
    font-size: 33px;
    font-weight: bold;
}
.logo>h1>span{
   color:  #FF42A5;

}
.item{
    display: flex;
    list-style:none;
    text-align: center;
    align-items: center;
    gap: 40px;
}
.item a{
    text-decoration: none;
    color:rgb(58, 58, 58) ;
}
.follow-us>p>i{
    margin-left: 17px;
}
.follow-us>p{
   background-color: rgba(214, 214, 214, 0.4);
   padding: 10px 20px;
   border-radius: 9px;
   color:rgb(58, 58, 58) ;
}
/* header end */
/* section1 start */
.section1{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 700px;
    display: flex;
    gap: 50px;
}
.section1-text{
    /* width: 50%; */
   padding: 80px 170px;
}
.section1-text>h2{
    font-size: 40px;
    margin-bottom: -10px;
}
.section1-text>h1{
    font-size: 60px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
}
.section1-icon-text{
    align-items: center;
    margin-top: -30px;
}
.section1-icon-text>p{
    color: rgb(60, 60, 60);
    font-size: 15px;
    margin-top: -10px;
}
.section1-btn{
    margin-top: 25px;
}
.section1-btn>button{
    padding: 13px 30px ;
    border-radius: 27px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    margin-right: 10px;
}
.section1-btn :nth-child(1){
    background-color: #F948B2;
}
.section1-btn :nth-child(2){
   background-color: #4EC5F7;
}
.section1-imges{
    width: 550px;
}
.section1-imges>img{
    width: 100%;
}
/* section1 end */
/* section2 start */
.section2{
    display: flex;
    justify-content: space-between;
    padding: 90px 100px;
    gap: 60px;
}
.section2-img>img{
    width:600px;
}
.section2-text{
    text-align: end;
}
.section2-text>h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: -5px;
}
.section2-text>p{
    color: gray;
    line-height: 20px;
}
.section2-text>button{
    background-color: #F948B2;
    padding: 13px 30px ;
    border-radius: 27px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
}
.section2-text>h4{
    color: rgb(83, 83, 83);
    font-size: 18px;
}
.section2-text>h3{
    color: #56467b;
    font-size: 25px;
    margin-top: -19px;
}
/* section2 end  */
/* section3 start */
 .section3{
    width: 100%;
    margin: 0 auto;
}
.section3-head{
    width: max-content;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.section3-head>h2{
    font-size: 34px;
    font-weight: bold;
}
.section3-head>h2>span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section3-head>p{
    color: rgb(92, 92, 92);
    margin-top: -15px;
    margin-bottom: 60px;
}
.section3-images{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.image-description{
    position: relative;
    width: 240px;
}
.image-description>img{
    width: 100%;
    height: 280px;
    border: 3px solid transparent;
    transition: border-color 0.3s ease;
}
  .play-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: 3px solid  #F948B2;
  }
  .play-overlay >p{
    color: #ff6fc5;
    font-size: 20px;
    opacity: 1; 
    margin-left: 8px;
  }
  .image-description:hover .play-overlay {
    opacity: 1;
  }
  .play-overlay {
    position: absolute;
    top: 3.5px;
    left: 3px;
    width: 100%;
    height: 278px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0; 
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    pointer-events: none;
  }
  .play-overlay>i{
   color: white;
   font-size: 25px;
  
    border-radius: 50px;
  }
  .image-description>h5{
    font-size: 15px;
    color: rgb(111, 111, 111);
}
/* section3 end */
/* section4 start */
.section4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px ;
    margin-bottom: 180px;
}
.section4-image1-2{
    position: relative;
}
.section4-image1-2 :nth-child(1){
    width:500px;
}
.section4-image1-2 :nth-child(2){
    position: absolute;
    width: 240px;
    height: 270px;
    border: 5px solid white;
    margin-left: -140px;
    margin-top: 270px;
}
.section4-text{
    align-items: center;
    width:320px;
    padding-top: 30px;
}
.section4-text>h1{
    font-size: 35px;
}
.section4-text>h1>span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section4-text>p{
    color: rgb(68, 68, 68);
    font-size: 12px;
    line-height: 23px;
}
/* section4 end */
/* section5 start */
.section5{
    background-image: url(images/Group\ 65.png) , linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-repeat: no-repeat;
    background-position: right;
    background-size:auto 600px;
   
    color: white;
    height: 580px;
}
.section5-careers{
    width: 470px;
    padding:80px 150px ;
}
.section5-careers>h2{
    font-size: 37px;
}
.section5-careers>h5{
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}
.careers-full-lists{
    display: flex;
    justify-content: space-between;
}
.careers-list2>p,.careers-list1>p{
    /* margin-top: -10px; */
    font-size: 13px;
}
.careers-list2{
    text-align: right;
}
.careers-list1>button{
    padding: 13px 30px ;
    border-radius: 32px;
    font-size: 17px;
    font-weight: 700;

    color: white;
    border: none;
    color: #FF42A5 ;

}
/*  section5 end*/
/* section6 start */
/* .section6-items{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 100px 20px;
} */
.section6-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
    max-width: 1000px;
    padding: 100px 0px;
    justify-content: center;
    justify-self: center;
    margin: 0 auto;
}
.section6-items>div{
    display: flex;
    gap: 10px;
    text-align: center;
}
.section6-items>div:hover{
    border: 1px solid  #FF42A5  ;
    border-radius: 28px;
    padding: 4px 8px;
}
.section6-items>div:hover p{
    color:#FF42A5;
}
.section6-items>div>p{
    font-size: 14px;
    font-weight: 700;
   font-family: 'Work Sans', sans-serif;
   color: #141414;
}
.section6-items>div>img{
    width: 40px;
    height: 40px;
}
/*  section6 end*/
/* footer start */
.footer{
    background-color: #0B0223;
    color: white;
    padding: 60px;
}
.footer-item{
    text-align: center;
    line-height: 35px;
}
.for-footer{
    text-align: center;
   justify-content: center;
}
.footer-list{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.footer-icons>i{
   margin-right: 20px;
   font-size: 30px;
}
.footer-icons>img{
    margin-right: 20px;
    border-radius: 30px;
    width: 30px;
}  
.footer-icons :nth-child(3){
    border-radius: 5px;
  width: 35px;
}
.fotter-2nd-list{
    display: flex;
    gap: 35px;
    justify-content: center;
    font-size: 11px;
    color: rgb(180, 172, 172);
    margin-top: 10px;
}
.footer-item>p{
    margin-top: -20px;
    font-size: 11px;
    color: rgb(180, 172, 172);
}
/* footer end */
/* mobile responsive */
@media screen and (max-width:425px){
    .navbar{
       flex-direction: column;
        
        padding: 0px 0px;
        height: auto;
        width: auto;
    }
    .item{
      flex-direction: column;
      line-height: 10px;
    }
    .item a{
      font-size: 14px;
    }
    .follow-us>p{
      margin-top: -10px;
      font-size: 13px;
    }
    .section1{
        background-position: bottom;
        background-size: 425px;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .section1-text{
       padding: 10px 70px;
    }
    .section1-text>h2{
        font-size: 30px;
        margin-bottom: -15px;
    }
    .section1-text>h1{
        font-size: 50px;
        font-weight: 800;
    }
    .section1-icon-text>p{
        font-size: 14px;
    }
    .section1-btn>button{
        font-size: 13px;
    }
    .section1-imges{
        width: fit-content;
        padding: 0px 15px;
    }
    .section1-imges>img{
        width: 90%;
    }
    .section2{
      flex-direction: column;
        padding: 10px 10px;
        gap: 10px;
    }
    .section2-img{
        width: fit-content;
    }
    .section2-img>img{
        width:100%;
    }
    .section2-text{
        text-align: center;
        padding: 0px 35px;
    }
    .section2-text>h2{
        font-size: 28px;
        margin-bottom: 0px;
    }
    .section2-text>p{
        font-size: 12px;
    }
    .section2-text>button{
        padding: 10px 25px ;
        font-size: 13px;
    }
    .section2-text>h4{
        font-size: 16px;
    }
    .section2-text>h3{
        font-size: 19px;
    }

    .section3-head{
        width: fit-content;
       text-align: center;
       padding: 30px;
    }
    .section3-head>h2{
        font-size: 28px;
    }
    .section3-head>p{
        margin-top: -10px;
        margin-bottom: 0px;
    }
    .section3-images{
       flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .image-description{
        width: 350px;
    }
      .image-description>h5{
        font-size: 12px;
        text-align: center;
    }
    .section4{
       flex-direction: column-reverse;
        margin-top: 30px ;
    }
    .section4-image1-2 {
        margin-top: 20px;
    }
    .section4-image1-2 :nth-child(1){
        width:320px;
        margin-left: -60px;
    }
    .section4-image1-2 :nth-child(2){
        width: 135px;
        height: 150px;
        margin-left: -70px;
        margin-top: 210px;
    }
    .section4-text{
        align-items: center;
        width:fit-content;
        padding:30px;
        text-align: center;
    }
    .section4-text>h1{
        font-size: 29px;
    }
    .section4-text>p{
        font-size: 11px;
    }
    .section5{
        background-position: bottom;
        background-size:100%;
        height: 780px;
    }
    .section5-careers{
        width: 360px;
        padding:20px 30px ;
    }
    .section5-careers>h2{
        font-size: 27px;
    }
    .section5-careers>h5{
        font-size: 11px;
    }
    /* section5 end */
    .careers-list2>p,.careers-list1>p{
        /* margin-top: -10px; */
        font-size: 10px;
    }
    .careers-list1>button{
        padding: 10px 20px ;
        font-size: 14px;
        margin-top: 30px;
    }
.section6-items{
    padding: 80px 0px;
    margin: 0 auto;
}
.section6-items>div:hover{
    padding: 2px 4px;
}
.section6-items>div>p{
    font-size: 12px;
}
.section6-items>div>img{
    width: 35px;
    height: 35px;
}
.footer{
    padding: 10px;
}
#for-footer>img{
   width: 20px;

}
.footer-item{
    text-align: center;
    line-height: 35px;
}
.for-footer{
    text-align: center;
   justify-content: center;
}
.footer-list{
    font-size: 12px;
    line-height: 0px;
    margin: 0 auto;
    width: 220px;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-icons>i{
   margin-right: 40px;
   font-size: 20px;
}
.footer-icons{
    margin: 0 auto;
    width: 250px;
    flex-wrap: wrap;
    padding-left: 30px;
}
.footer-icons>img{
    margin-right: 40px;
    width: 20px;
}  
.footer-icons :nth-child(3){
     width: 25px;
}
.fotter-2nd-list{
    gap: 10px;
    font-size: 10px;
}
.footer-item>p{
    font-size: 9px;
}
}

/* Tablet responsive */
@media (min-width:426px) and (max-width:768px) {

    .navbar{
        flex-direction: column;
         padding: 0px 0px;
         height: auto;
         margin: 0 auto;
     }
     .item{
        flex-direction: column;
        line-height: 5px;
      }
      .item a{
        font-size: 14px;
      }
      .follow-us>p{
        margin-top: -10px;
        font-size: 13px;
      }
      .section1{
          background-position: bottom left;
          background-size: 700px 350px;
          flex-direction: column-reverse;
          align-items: left;
      }
      .section1-imges>img{
        width: 520px;
        margin-left: 100px;
    }
      .section1-text{
        justify-content: center;
        margin: 0 auto;
        align-items: center;
         padding: 10px 150px;
      }
      .section1-text>h2{
          font-size: 30px;
          margin-bottom: -15px;
      }
      .section1-text>h1{
          font-size: 50px;
          font-weight: 800;
      }
      .section1-icon-text>p{
          font-size: 14px;
      }
      .section1-btn>button{
        font-size: 13px;
       margin-right: 20px;
      }
     
      .section2{
        padding: 0px;
          flex-direction: column;
          gap: 10px;
      }
      .section2-img{
        margin-top: -70px;
       width: 400px;  
       margin: 0 auto;
 }
      .section2-img>img{
          width:100%;
      }
      .section2-text{
        margin: 0 auto;
        width: 420px;
          text-align: center;
          padding: 0px 35px;
      }
      .section2-text>h2{
        margin: 0 auto;
          font-size: 28px;
          margin-bottom: 0px;
      }
      .section2-text>p{
          font-size: 12px;
      }
      .section2-text>button{
          padding: 10px 25px ;
          font-size: 13px;
      }
      .section2-text>h4{
          font-size: 16px;
      }
      .section2-text>h3{
          font-size: 19px;
      }
       
      .section3-head{
        width: fit-content;
       text-align: center;
       padding: 30px;
       margin-top: -50px;
       margin: 0 auto;

    }
    .section3-head>h2{
        font-size: 28px;
    }
    .section3-head>p{
        margin-top: -10px;
        margin-bottom: 0px;
    }
    .section3-images{
        margin: 0 auto;
       flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .image-description{
        width: 350px;
    }
      .image-description>h5{
        font-size: 12px;
        text-align: center;
    }
    .section4{
       flex-direction: column-reverse;
        margin-top: 30px ;
        margin: 0 auto;
        width: 500px;
        padding-bottom: 200px;
    }
    .section4-image1-2 {
        margin-top: 20px;
    }
    .section4-image1-2 :nth-child(1){
        width:480px;
        margin-left: -60px;
    }
    .section4-image1-2 :nth-child(2){
        width: 200px;
        height: 210px;
        margin-top: 320px;
        margin-left: -120px;
    }
    .section4-text{
        align-items: center;
        width:fit-content;
        padding:30px;
        text-align: center;
    }
    .section4-text>h1{
        font-size: 29px;
    }
    .section4-text>p{
        font-size: 11px;
    }
  
    .section5{
        background-position: top ;
        background-size:90%;
        height: 880px;
    }
    .section5-careers{
        margin: 0 auto;
        width: 600px;
        padding:430px 30px ;
       
    }
    .section5-careers>h2{
        font-size: 32px;
    }
    .section5-careers>h5{
        font-size: 13px;
    }
  }